.bordertt {
	border-radius:10px;
	background-color: #ffe9cf;
	bottom: 14px;
	border: solid 3px #4e644a;
	position: absolute;
	right: 96px;
	/* right: 200px; */
	padding: 12px;
	margin-top: 30px;
}
.btnCast a {
	text-decoration: none;
	color:white
}

.btnCast:hover {
	box-shadow:0 0 10px 10px white;
}

table {
	margin-top: 70px;
	border: 1px solid #ccc;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 blue;
}

.fa.fa-trash-o:hover {
	opacity: 0.8;
	transition: all 0.3s liner;
	transform: scale(1.5);
}


.btn.btn-warning {
	display: block;
	text-align: center;
	width: 100px;
	text-decoration: none;
	padding: 3px 6px;
	background-color: #ec4743;
	color: white;
	margin-top: 8px;
}

.btn.btn-warning:hover {
	box-shadow: 0 0 5px 5px #ccc;
}